# Dependensi (jangan di-push, terlalu besar)
node_modules/

# Hasil build sementara (yang di-push hanya /docs)
dist/

# File sistem
.DS_Store
Thumbs.db

# Log
*.log
npm-debug.log*

# Editor
.idea/
.vscode/*
!.vscode/extensions.json

# Ionic / Capacitor
.ionic/
.sourcemaps/
/platforms/
/plugins/
/www/
