/* Crypto dark theme — Tugas 03 MSIM4401 */

body {
  --ion-background-color: #0d1117;
  --ion-text-color: #e6edf3;
  --ion-border-color: #21262d;
  --ion-color-primary: #00c896;
  --ion-color-primary-rgb: 0, 200, 150;
  --ion-color-primary-contrast: #000;
  --ion-color-primary-shade: #00b085;
  --ion-color-primary-tint: #1acda0;
  --ion-item-background: #161b22;
  --ion-toolbar-background: #161b22;
  --ion-tab-bar-background: #161b22;
}
